<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/product">Walsh</a>
</header>

<div class="container-fluid">
  <div class="row">

    <div class="col-1 col-sm-1 col-md-3 col-lg-2 col-xl-2 bg-light sidebar">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul id="menu" class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-2">
          <li class="nav-item">
            <a class="nav-link active align-middle px-0" routerLinkActive="active" aria-current="page" href="/product">
              <i class="fa fa-home"></i>
              <span class="ms-1 d-none d-md-inline">Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-0 align-middle" routerLinkActive="active" href="/trash">
              <i class="fa-regular fa-trash-can"></i>
              <span class="ms-1 d-none d-md-inline">Trash</span>
            </a>
          </li>

        </ul>


      </div>
    </div>

    <main class="col col-sm-11 col-md-9 ms-5 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>