
<div class="product-container">
    <div *ngFor="let product of products" class="card" style="width: 18rem;">
        <img [src]="product.imageUrl" class="card-img-top" alt="Product Image">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-between mt-auto">
            <button class="btn "><i class="fa-regular fa-heart"></i></button>
            <button class="btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
        </div>
    </div>
</div>